.header {
  background-color: #f8f9fa;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.searchContainer {
  margin-right: 60px;
}

.userContainer {
  margin-right: 30px;
  position: relative;
}

.userIcon {
  font-size: 32px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.userIcon:hover {
  transform: scale(1.2);
}
.userContainer div {
  display: flex;
  gap: 15px; 
  font-size: 14px; 
}

.HeaderTextItem {
  display: block;
  padding: 6px;
  text-align: center;
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.HeaderTextSignUpItem {
  display: block;
  padding: 6px;
  text-align: center;
  color: gray;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.HeaderTextItem:hover {
   color: black;
}

.HeaderTextSignUpItem:hover {
   background-color: lightgray;
   border: 1px solid gray;
   color: black;
}


.modalContent {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  width: 300px;  
  height: 550px; 
  margin: auto;
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

