.topHome {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  margin-left: 20px;
}

.titleContainer {
  display: flex;
  margin-bottom: 20px;
}

.titleIcon {
  font-size: 24px;
  margin-right: 10px;
  color: #f0a500;
}

.titleText {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; 
  width: 100%; 

}

.posterGrid {
  display: flex;
  transition: transform 1s ease;
  width: 100%; 
}

.moviePoster {
  width: 220px;
  border-radius: 10px;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.moviePoster:hover {
  transform: scale(1.1);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
